
@-webkit-keyframes bobble {
    0% {
        -webkit-transform: translate3d(0px, 40px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        -webkit-transform: translate3d(0px, 50px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translate3d(0px, 40px, 0px);
    }
}

@-moz-keyframes bobble {
    0% {
        -moz-transform: translate3d(0px, 40px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        -moz-transform: translate3d(0px, 50px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        -moz-transform: translate3d(0px, 40px, 0px);
    }
}

@-o-keyframes bobble {
    0% {
        -o-transform: translate3d(0px, 40px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        -o-transform: translate3d(0px, 50px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        -o-transform: translate3d(0px, 40px, 0px);
    }
}

@keyframes bobble {
    0% {
        transform: translate3d(0px, 40px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(0px, 50px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(0px, 40px, 0px);
    }
}
