#guests-view .pin {
    /* bg colour of each guest card */
    background-color: #6ebea5;
}

.hello-wrapper {
    background-color: #009999;
    color: #fff;
}

.speakers-wrapper {
    background-color: #009999;
    color: #fff;
}

.staff-wrapper {
    background: url("../img/crew.jpg");
    background-size: cover;
    color: #414242;
}

/* "VIP" staff members */
.staff-wrapper .pin.high {
    background-color: #d83049;
}

/* Other staff members */
.staff-wrapper .pin.low {
    background-color: #7eb400;
}

.docs-wrapper {
    /* Resources tab */
    background-color: #ffcd35;
}

.contact-us-wrapper {
    background-color: #e91e63;
    color: #fff;
}

.testimonials-wrapper {
    background-color: #3f51b5;
    color: #fff;
}

/* Text color for schedule heading text*/
.featurette-heading.text-schedule {
    color: #009999;
}

/* Text color for top navigation bar */
.main-header ul li a {
    color: #009999;
}