<!-- This website was built with Bootstrap (http://getbootstrap.com/) and hosted on GitHub Pages (https://pages.github.com/) -->
<!DOCTYPE html>
<html lang="en" ng-app="GlobalCNNers">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/png" href="./img/cnn.png">
    <title>CNN Conference 2014</title>

    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="./css/font-awesome.min.css" rel="stylesheet">
    <link href="./css/animations.css" rel="stylesheet">
    <link href="./css/main.min.css" rel="stylesheet">
    <link href="./css/colours.css" rel="stylesheet">
    <link href="./css/timeline.css" rel="stylesheet">
    <link href="./css/flag-icon.css" rel="stylesheet">
    <!-- Libraries/dependencies -->
    <script src="./lib/jquery.min.js"></script>
    <script src="./lib/bootstrap.min.js"></script>
    <script src="./lib/holder.js"></script>
    <script src="./lib/angular.js"></script>
    <script src="./lib/angular-sanitize.js"></script>
    <script src="./lib/angular-translate.min.js"></script>
    <script src="./lib/freewall.js"></script>
    <!-- Our own js files -->
    <script src="./js/data.js"></script>
    <script src="./js/controllers.js"></script>
    <script src="./js/directives.js"></script>
    <script src="./js/translations.js"></script>
    <script src="./js/main.js"></script>
  </head>
  <body ng-controller="ParentCtrl" class="init">
    <div id="prologue">
        <div id="balloon-wrapper">
            <img balloonpop id="balloon" class="bobble" src="./img/balloon-dark.png"></img>
        </div>
    </div>
    <div class="main-header">
        <div class="col-md-12">
            <ul id="topbar" class="nav navbar-nav">
                <li class="brand"><span><b>{{ 'TITLE_HEADING' | translate }}</b></span></li>
                <li class="brand" ng-controller="LanguageCtrl" id="language">{{ 'LANGUAGE_HEADING' | translate }}: <span ng-class="{'grayscale':!isLangActive('en')}" langPicker="en" class="flag-icon flag-icon-gb"></span> <span ng-class="{'grayscale':!isLangActive('vn')}" langPicker="vn" class="flag-icon flag-icon-vn"></span></li>
                <li><a href="#contact-us" class="last">{{ 'CONTACT_HEADING' | translate }}</a></li>
                <li><a href="#testimonials">{{ 'TESTIMONIALS_HEADING' | translate }}</a></li>
                <li><a href="#docs">{{ 'DOCS_HEADING' | translate }}</a></li>
                <li><a href="#staff">{{ 'STAFF_HEADING' | translate }}</a></li>
                <li><a href="#speakers">{{ 'SPEAKERS_HEADING' | translate }}</a></li>
                <li><a href="#schedule">{{ 'SCHEDULE_HEADING' | translate }}</a></li>
                <li><a href="#hello">{{ 'HELLO_HEADING' | translate }}</a></li>
            </ul>
        </div>
        <div style='clear: both'></div>
    </div>
    <img class="featurette-image img-responsive banner" src="./img/cnn-conference.jpg">
    <div class="container main">
        <!-- START THE FEATURETTES -->
        <div class="featurette-wrapper hello-wrapper">
            <div class="row featurette">
                <a class="anchor" id="hello"></a>
                <div class="col-md-12">
                    <h2 class="featurette-heading center"><b>{{ 'HELLO_HEADING' | translate }}</b></h2>
                    <h2 class="center">{{ 'HELLO_TEXT_1' | translate }}</h2>
                </div>
            </div>
        </div>

        <div class="featurette-wrapper schedule-wrapper" ng-controller="ScheduleCtrl">
            <div class="row featurette">
                <a class="anchor" id="schedule"></a>
                <div class="col-md-12">
                    <h2 class="featurette-heading center text-schedule"><b>{{ 'SCHEDULE_HEADING' | translate }}</b></h2>
                    <h3 class="featurette-heading center text-schedule"><b>{{ 'SCHEDULE_TEXT_1' | translate }}</b></h3>
                    <h4 class="featurette-heading center text-schedule">{{ 'SCHEDULE_TEXT_2' | translate }}</h4>
                    <ul class="cbp_tmtimeline">
                        <li ng-repeat="entry in schedule">
                            <time class="cbp_tmtime" datetime="2014-01-01 {{ entry.time }}"><span>01/01/14</span> <span>{{ entry.time }}</span></time>
                            <div class="cbp_tmicon fa {{ entry.logo }} fa-lg"></div>
                            <div class="cbp_tmlabel">
                                <h2 ng-bind-html="entry.title"></h2>
                                <p ng-bind-html="entry.description"></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="featurette-wrapper speakers-wrapper" ng-controller="GuestsCtrl">
            <div class="row featurette">
                <a class="anchor" id="speakers"></a>
                <h2 class="featurette-heading center"><b>{{ 'SPEAKERS_HEADING' | translate }}</b></h2>
                <h4 class="featurette-heading center"><b>{{ 'SPEAKERS_TEXT_1' | translate }}</b></h4>
                <div class="col-md-12" id="guests-view">
                    <div class="col-md-{{ 12/guestPartitionSize }}" ng-repeat="guests in guestGroup">
                        <div ng-repeat="guest in guests">
                            <div class="flip-container guest" flippable ontouchstart="this.classList.toggle('hover');">
                                <div class="flipper">
                                    <div class="front">
                                        <div class="pin">
                                            <img class="img-responsive" data-src="holder.js/1024x512">
                                            <div class="text">
                                                <h4><span class="flag-icon flag-icon-{{ guest.country }}"></span>  <b>{{ guest.name }}</b></h4>
                                                <div>{{ guest.firstBioLine | translate }}</div>
                                                <div>{{ guest.secondBioLine | translate }}</div>
                                            </div>
                                            <div style='clear: both'></div>
                                        </div>
                                    </div>
                                    <div class="back">
                                        <div class="pin">
                                            <div class="text">
                                                <h4><span class="flag-icon flag-icon-{{ guest.country }}"></span>  <b>{{ guest.name }}.</b></h4>
                                                <p class="lead">{{ guest.back | translate }}</p>
                                            </div>
                                            <div style='clear: both'></div>
                                        </div>
                                    </div>
                                </div>
                                <div style='clear: both'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="featurette-wrapper staff-wrapper" ng-controller="StaffCtrl">
            <div class="row featurette last">
                <a class="anchor" id="staff"></a>
                <h2 class="featurette-heading center"><b>{{ 'STAFF_HEADING' | translate }}</b></h2>
                <h4 class="featurette-heading center"><b>{{ 'STAFF_TEXT_1' | translate }}</b></h4>
                <div id="flag-picker-wrapper" ng-if="staffWallEnabled">
                    <div id="flag-picker">
                        <h1>
                            <i class="fa fa-reorder"></i>
                            <span flag-picker-activate ng-repeat="country in countries" class="flag-icon flag-icon-{{ country }}" country="{{ country }}">
                                &nbsp;
                            </span>
                        </h1>
                    </div>
                    <div id="flag-picker-tip" class="bubble">
                        <p class="lead" id="flag-tip-1"><i class="fa fa-flag"></i>  {{ 'FLAG_PICKER_TIP_1' | translate }}</p>
                        <p class="lead" id="flag-tip-2">{{ 'FLAG_PICKER_TIP_2_1' | translate }}  <i class="fa fa-times"></i>  {{ 'FLAG_PICKER_TIP_2_2' | translate }}  <i class="fa fa-refresh"></i></p>
                    </div>
                </div>

                <div class="col-md-12" id="staff-view" walls="walls">
                    <!-- UK -->
                    <div ng-repeat="member in staff" ng-if="staffWallEnabled" on-staff-finish>
                        <div ng-if="member.flippable" flippable class="flip-container member {{ member.country }}" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                                <div class="front">
                                    <div class="pin {{ member.rank }}">
                                        <img class="img-responsive" data-src="holder.js/{{ member.picsize }}">
                                        <div class="text">
                                            <h4><span class="flag-icon flag-icon-{{ member.country }}"></span>  <b>{{ member.name }}</b></h4>
                                            <h5><b>{{ member.title | translate }}</b></h5>
                                            <div>{{ member.firstBioLine | translate }}</div>
                                            <div>{{ member.secondBioLine | translate }}</div>
                                        </div>
                                        <div style='clear: both'></div>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="pin {{ member.rank }}">
                                        <div class="text">
                                            <h4><span class="flag-icon flag-icon-{{ member.country }}"></span>  <b>{{ member.name }}</b></h4>
                                            <h5><b>{{ member.title | translate }}</b></h5>
                                            <p class="lead">{{ member.back | translate }}</p>
                                        </div>
                                        <div style='clear: both'></div>
                                    </div>
                                </div>
                            </div>
                            <div style='clear: both'></div>
                        </div>

                        <div ng-if="!member.flippable" class="pin {{ member.rank }} {{ member.country }} member">
                            <img class="img-responsive" data-src="holder.js/{{ member.picsize }}">
                            <div class="text">
                                <h4><span class="flag-icon flag-icon-{{ member.country }}"></span>  <b>{{ member.name }}</b></h4>
                                <h5><b>{{ member.title | translate }}</b></h5>
                                <div>{{ member.firstBioLine | translate }}</div>
                                <div>{{ member.secondBioLine | translate }}</div>
                            </div>
                            <div style='clear: both'></div>
                        </div>
                    </div>

                    <div ng-repeat="staff in staffGroup" class="col-md-{{ 12/staffPartitionSize }}" ng-if="!staffWallEnabled" on-staff-finish>
                        <div ng-repeat="member in staff">
                        <div ng-if="member.flippable" flippable class="flip-container member {{ member.country }}" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                                <div class="front">
                                    <div class="pin {{ member.rank }}">
                                        <img class="img-responsive" data-src="holder.js/{{ member.picsize }}">
                                        <div class="text">
                                            <h4><span class="flag-icon flag-icon-{{ member.country }}"></span>  <b>{{ member.name }}</b></h4>
                                            <h5><b>{{ member.title | translate }}</b></h5>
                                            <div>{{ member.firstBioLine | translate }}</div>
                                            <div>{{ member.secondBioLine | translate }}</div>
                                        </div>
                                        <div style='clear: both'></div>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="pin {{ member.rank }}">
                                        <div class="text">
                                            <h4><span class="flag-icon flag-icon-{{ member.country }}"></span>  <b>{{ member.name }}</b></h4>
                                            <h5><b>{{ member.title | translate }}</b></h5>
                                            <p class="lead">{{ member.back | translate }}</p>
                                        </div>
                                        <div style='clear: both'></div>
                                    </div>
                                </div>
                            </div>
                            <div style='clear: both'></div>
                        </div>

                        <div ng-if="!member.flippable" class="pin {{ member.rank }} {{ member.country }} member">
                            <img class="img-responsive" data-src="holder.js/{{ member.picsize }}">
                            <div class="text">
                                <h4><span class="flag-icon flag-icon-{{ member.country }}"></span>  <b>{{ member.name }}, {{ member.title | translate }}.</b></h4>
                                <div>{{ member.firstBioLine | translate }}</div>
                                <div>{{ member.secondBioLine | translate }}</div>
                            </div>
                            <div style='clear: both'></div>
                        </div>

                    </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="featurette-wrapper docs-wrapper">
            <div class="row featurette">
                <a class="anchor" id="docs"></a>
                <h2 class="featurette-heading center"><b>{{ 'DOCS_HEADING' | translate }}</b></h2>
                <div class="col-md-12" id="docs-desc">
                    <div class="col-md-4">
                        <h3 class="center"><i class="fa fa-cloud-download"></i>  <b>{{ 'DOCS_CONVENIENT' | translate }}</b></h3>
                        <p class="lead">{{ 'DOCS_CONVENIENT_TEXT' | translate }}</p>
                    </div>
                    <div class="col-md-4">
                        <h3 class="center"><i class="fa fa-cubes"></i>  <b>{{ 'DOCS_ORG' | translate }}</b></h3>
                        <p class="lead">{{ 'DOCS_ORG_TEXT' | translate }}</p>
                    </div>
                    <div class="col-md-4">
                        <h3 class="center"><i class="fa fa-lightbulb-o"></i>  <b>{{ 'DOCS_THOUGHT' | translate }}</b></h3>
                        <p class="lead">{{ 'DOCS_THOUGHT_TEXT' | translate }}</p>
                    </div>
                </div>
                <button type="button" class="btn btn-default btn-lg">
                    <i class="fa fa-folder-open"></i>  {{ 'DOCS_CLICK' | translate }}
                </button>
            </div>
        </div>

        <div class="featurette-wrapper testimonials-wrapper" ng-controller="TestimonialsCtrl">
            <div class="row featurette">
                <a class="anchor" id="testimonials"></a>
                <h2 class="featurette-heading center"><b>{{ 'TESTIMONIALS_HEADING' | translate }}</b></h2>
                <div class="col-md-12" id="testimonials-view">
                    <div class="col-md-{{ 12/testimonialPartitionSize }}" ng-repeat="testimonials in testimonialGroup">
                        <div ng-repeat="testimonial in testimonials">
                            <div class="testimonial">
                                <div class="center">
                                    <img class="img-circle img-responsive" data-src="holder.js/120x120">
                                    <p class="lead"><strong>— {{ testimonial.author }} —</strong></p>
                                    <p class="lead"><i class="fa fa-quote-left"></i>  {{ testimonial.content }}  <i class="fa fa-quote-right"></i></p>
                                </div>
                                <div style='clear: both'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="featurette-wrapper contact-us-wrapper">
            <div class="row featurette">
                <a class="anchor" id="contact-us"></a>
                <h2 class="featurette-heading center"><b>{{ 'CONTACT_HEADING' | translate }}</b></h2>
                <div class="col-md-12">
                    <div id="email" class="col-md-6">
                        <h3><i class="fa fa-check"></i>  <b>{{ 'SIGNUP' | translate }}</b></h3>
                        <p class="lead">{{ 'SIGNUP_TEXT' | translate }}</p>
                        <button type="button" class="btn btn-default btn-lg">
                            <i class="fa fa-rocket"></i>  {{ 'SIGNUP_CLICK' | translate }}
                        </button>
                    </div>
                    <div id="admin" class="col-md-6">
                        <h3><i class="fa fa-support"></i>  <b>{{ 'SUPPORT' | translate }}</b></h3>
                        <p class="lead">{{ 'SUPPORT_TEXT' | translate }}</p>
                        <button type="button" class="btn btn-default btn-lg">
                            <i class="fa fa-phone"></i>  {{ 'SUPPORT_CLICK' | translate }}
                        </button>
                    </div>
                </div>
                <div class="col-md-12">
                    <div>
                        <div id="email" class="col-md-6">
                            <h3><i class="fa fa-envelope"></i>  <b>{{ 'EMAIL' | translate }}</b></h3>
                            <p class="lead">{{ 'EMAIL_TEXT' | translate }}</p>
                            <button type="button" class="btn btn-default btn-lg">
                                <i class="fa fa-share"></i>  {{ 'EMAIL_CLICK' | translate }}
                            </button>
                        </div>
                        <div class="facebook col-md-6">
                            <h3><i class="fa fa-facebook-square"></i>  <b>{{ 'FACEBOOK' | translate }}</b></h3>
                            <p class="lead">{{ 'FACEBOOK_TEXT' | translate }}</p>
                            <button type="button" class="btn btn-default btn-lg">
                                <i class="fa fa-thumbs-up"></i>  {{ 'FACEBOOK_CLICK' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /END THE FEATURETTES -->
    </div>
    <div class="footer" finish-load>
        <div class="col-md-12 center">
            <p class="back-to-top"><i class="fa fa-arrow-circle-o-up"></i>  <a href="#hello"><u>Back to Top</u></a></p>
            <p>&copy; Global CNNers 2014. All rights reserved.</p>
            <p>Designed &amp; built by <a href="https://github.com/famanson/" target="_blank"><u>famanson</u></a></p>
        </div>
    </div>
  </body>
</html>
